header{
    background-color: aqua;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: lightsalmon;
    font-size: xx-large;
}

.butonlar{
    display: flex;
    margin-left: 10%;
    font-size: xx-large;
}

.card img{
    width: 20px;
    height: auto;
    background-blend-mode: color-burn;
}

.SatınAl{
    display: flex;
    margin-left: 30%;
    padding-left: 30%;
}
.card{
    max-height: 500px;
    margin-left: 20px;
}
.market{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    margin-left: 100px;
    justify-items: center;
    grid-area: auto;
}

.logo{
    display: flex;
    position: relative;
    justify-content: end;
    nav-right: calc(100% - 100px);
    
}